---
layout: default
---

<article>

	<h1 class="title">{{ page.title }}</h1>

	<div class="divider"></div>

	{{ content }}

</article>

<article>

	{% include social-icon.html icon="Email" %}
	<a href="mailto:someone@example.com">Gmail</a>

	<p>

	{% include social-icon.html icon="LinkedIn" %}
	<a href="https://www.linkedin.com/in/anqi-cheng-238237172/">LinkedIn</a>

	<p>

	{% include social-icon.html icon="Instagram" %}
	<a href="https://www.instagram.com/anqistimecapsule/">Instagram</a>

</article>




<div class="page-navigation code">
	<a class="home" href="{{ "/" | prepend: site.baseurl | prepend: site.url }}" title="Back to Index">&larr; Index</a>
</div>
